In [5]:
#Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

In [6]:
#Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

In [19]:
#Exercise 10 - Insert a markdown cell to list Objectives

__Objectives:__
* List popular languages for Data Science
* List commonly used libraries for Data Science
* Table with popular open source tools for Data Science

In [20]:
#Exercise 11 - Create a markdown cell to indicate the Author's name

## Author  
Wojciech Bahonko

In [8]:
#Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala

In [9]:
#Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Scikit-learn

In [11]:
#Exercise 6 - Create a markdown cell with a table of Data Science tools

|Data Science Tools|
|------------------|
|MySQL|
|Jupyter|
|Hue|

|Data Science Tools|
|------------------|
|MySQL|
|Jupyter|
|Hue|

In [12]:
#Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

In [17]:
#Exercise 8 - Create a code cell to multiply and add numbers

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [18]:
#Exercise 9 - Create a code cell to convert minutes to hours

In [2]:
# This will convert 200 minutes to hours by diving by 60
round(200/60)

3